.adv-title {
  color: #FF5733;
  line-height: 0.7;
  margin-left: 20px;
}

.adv-date {
  font-size: 0.8em;
  color: gray;
  margin-left: 20px;
}

.adv-owner {
  margin-left: 20px;
}

#main-container-div {
  height: 150px;
  background-color: #172026;
}

#left-div {
  float:left;
  width:30%;
  height: 150px;
}

#right-div {
  float: right;
  width:70%;
  height: 150px;
}