<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Family Advertisements</title>
    <link th:href="@{/styles/global/main.css}" rel="stylesheet">
    <link th:href="@{/styles/specific/all.css}" rel="stylesheet">
    <link th:href="@{/styles/global/navigation.css}" rel="stylesheet">
</head>
<body>
<ul class="center">
    <li><a class="active" th:href="@{/advertisements/all}">home</a></li>
    <li><a th:href="@{/advertisements/creator}">create advertisement</a></li>
    <li><a th:href="@{/advertisements/my}">my advertisements</a></li>
    <li><a th:href="@{/logout}" th:text="'logout (' + ${#authentication.principal.username} + ')'"></a></li>
</ul>
<hr>
<br>
<h3 th:if="${#lists.isEmpty(advertisements)}">
    There are no advertisements.
</h3>
<tr th:each="advertisement: ${advertisements}">
    <div id="container-div">
        <div id="left-div">
            <h2 class="adv-title">
                <td th:text="${advertisement.title}"/>
            </h2>
            <p class="adv-owner">
            <td th:text="${advertisement.appUserUsername}"/>
            </p>
            <p class="adv-date">
            <td th:text="${#dates.format(advertisement.created, 'dd.MM.yyyy HH:mm')}"/>
            </p>
        </div>
        <div id="right-div">
            <p>
            <td th:text="${advertisement.description}"/>
            </p>
        </div>
    </div>
    <br>
</tr>
</body>
</html>