<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Family Advertisements</title>
    <link th:href="@{/styles/global/main.css}" rel="stylesheet">
    <link th:href="@{/styles/specific/creator.css}" rel="stylesheet">
    <link th:href="@{/styles/global/navigation.css}" rel="stylesheet">
</head>
<body>
<ul class="center">
    <li><a th:href="@{/advertisements/all}">home</a></li>
    <li><a class="active" th:href="@{/advertisements/creator}">create advertisement</a></li>
    <li><a th:href="@{/advertisements/my}">my advertisements</a></li>
    <li><a th:href="@{/logout}" th:text="'logout (' + ${#authentication.principal.username} + ')'"></a></li>
</ul>
<hr>
<h1>new advertisement</h1>
<br>
<form th:action="@{/advertisements}" th:object="${advertisement}" th:method="POST">
    <div>
        <p th:if="${#fields.hasErrors('title')}" th:errorclass="validation-error" th:errors="*{title}"></p>
        <input class="input" type="text" th:field="*{title}" placeholder="enter title here..." minlength="5"
               maxlength="20" required="required"/>
    </div>
    <br>
    <p th:if="${#fields.hasErrors('description')}" th:errorclass="validation-error" th:errors="*{description}"></p>
    <textarea class="input" rows="6" cols="50" th:field="*{description}"
              placeholder="enter description here..." minlength="20" maxlength="600" required="required"></textarea>
    <br><br>
    <input type="submit" value="publish"/>
</form>
</body>
</html>
