<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Family Advertisements</title>
    <link th:href="@{/styles/global/main.css}" rel="stylesheet">
    <link th:href="@{/styles/specific/my.css}" rel="stylesheet">
    <link th:href="@{/styles/global/navigation.css}" rel="stylesheet">
</head>
<body>
<ul class="center">
    <li><a th:href="@{/advertisements/all}">home</a></li>
    •
    <li><a th:href="@{/advertisements/creator}">create advertisement</a></li>
    •
    <li><a class="active" th:href="@{/advertisements/my}">my advertisements</a></li>
    •
    <li><a th:href="@{/logout}">logout</a></li>
</ul>
<hr>
<h1>my advertisements</h1>
<h3 th:if="${#lists.isEmpty(advertisements)}">
    You have no advertisements.
</h3>
<h3 class="success" th:if="${param.created}">
    New advertisement created!
</h3>
<h3 class="success" th:if="${param.deleted}">
    Advertisement deleted!
</h3>
<h3 class="success" th:if="${param.updated}">
    Advertisement updated!
</h3>
<br>
<tr th:each="advertisement: ${advertisements}">
    <div id="container-div">
        <div id="left-div">
            <h2 class="adv-title">
                <td th:text="${advertisement.title}"/>
            </h2>
            <p class="adv-owner">
            <td th:text="${advertisement.appUserUsername}"/>
            </p>
            <p class="adv-date">
            <td th:text="${#dates.format(advertisement.created, 'dd.MM.yyyy HH:mm')}"/>
            </p>
        </div>
        <div id="right-div">
            <p>
            <td th:text="${advertisement.description}"/>
            </p>
        </div>
        <div id="bottom-div">
            <form th:action="@{/advertisements/{id}/editor(id = ${advertisement.id})}" class="float-right">
                <input type="submit" value="edit"/>
            </form>
            <form th:action="@{/advertisements/{id}(id = ${advertisement.id})}" th:method="DELETE" class="float-right">
                <input type="submit" value="delete"/>
            </form>
        </div>
    </div>
    <br>
</tr>
</body>
</html>