<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
      <title>Family Advertisements</title>
      <link th:href="@{/styles/global/main.css}" rel="stylesheet">
      <link th:href="@{/styles/logged/navigation.css}" rel="stylesheet">
   </head>
   <body>
      <div th:insert="logged/blank :: menu"></div>
      <hr>
      <br>
      <form th:action="@{/advertisements}" th:object="${advertisement}" th:method="${restMethod}">
         <p class="message-core message-info" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
         <p class="message-core message-info" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
         <input type="hidden" th:field="*{id}"/>
         <h3>title</h3>
         <div>
            <input class="input-width-short" type="text" th:field="*{title}" minlength="5" maxlength="20" required="required"/>
         </div>
         <br>
         <h3>description</h3>
         <textarea class="input-width" rows="7" th:field="*{description}" minlength="20" maxlength="500"
            required="required"></textarea>
         <br><br>
         <input type="submit" value="publish"/>
      </form>
   </body>
</html>
