<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
      <title>Family Advertisements</title>
      <link th:href="@{/styles/global/main.css}" rel="stylesheet">
   </head>
   <body class="text-align-center">
      <h1>Create account</h1>
      <form th:action="@{/registration}" th:object="${customUserDto}" th:method="POST">
         <p class="message-core message-info" th:if="${param.exists}">Username already exists. Please pick another username</p>
         <p class="message-core message-info" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
         <p class="message-core message-info" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
         <input type="text" th:field="*{username}" placeholder="username"
            required="required"/>
         <input type="password" th:field="*{password}" placeholder="password"
            required="required"/>
         <br>
         <p><small>Password must have at least 3 characters, one english letter and one number</small></p>
         <br>
         <input type="submit" value="sign up"/>
      </form>
      <br>
      <a class="hyperlink" th:href="@{/authentication}">sing in</a>
   </body>
</html>
