<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Family Advertisements</title>
    <link th:href="@{/styles/global/main.css}" rel="stylesheet">
    <link th:href="@{/styles/global/center.css}" rel="stylesheet">
    <link th:href="@{/styles/global/navigation.css}" rel="stylesheet">
</head>
<body>
<ul class="center">
    <li><a class="active" th:href="@{/advertisements/all}">home</a></li>
    •
    <li><a th:href="@{/advertisements/creator}">create advertisement</a></li>
    •
    <li><a th:href="@{/advertisements/my}">my advertisements</a></li>
    •
    <li><a th:href="@{/logout}">logout</a></li>
</ul>
<hr>
<br>
<h3 class="error" th:if="${errorMessage}" th:text="${errorMessage}"></h3>
</body>
</html>