<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Family Advertisements</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet">
    <link th:href="@{/styles/center.css}" rel="stylesheet">
</head>
<body>
<h1>Family Advertisements</h1>
<p>Simple app to share advertisements with your family and friends</p>

<div th:if="${param.error}">
    Invalid username and password.
</div>
<br><br>
<form th:action="@{/authentication}" method="post">
    <div>
        <input type="text" name="username" placeholder="username"/>
    </div>
    <br>
    <div>
        <input type="password" name="password" placeholder="password"/>
    </div>
    <br>
    <input type="submit" value="sign in"/>
</form>
<br><br>
<a th:href="@{/registration}">sing up</a>
</body>
</html>