<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Family Advertisements</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet">
</head>
<body>
<h1>Family Advertisements</h1>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<br>
<form th:action="@{/login}" method="post">
    <div>
        <input type="text" name="username" placeholder="login"/>
    </div>
    <br>
    <div>
        <input type="password" name="password" placeholder="password"/>
    </div>
    <br>
    <input type="submit" value="sign in"/>
</form>
<br>
<a th:href="@{/register}">sing up</a>
<div>
    <br>
</div>
</body>
</html>