<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Family Advertisements</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet">
    <link th:href="@{/styles/my-advertisements.css}" rel="stylesheet">
    <link th:href="@{/styles/navigation.css}" rel="stylesheet">
</head>
<body>
<ul class="center">
    <li><a th:href="@{/}">home</a></li>
    •
    <li><a th:href="@{/advertisements/create}">create advertisement</a></li>
    •
    <li><a class="active" th:href="@{/my-advertisements}">my advertisements</a></li>
    •
    <li><a th:href="@{/logout}">logout</a></li>
</ul>
<hr>
<h1>my advertisements</h1>
<br>
<tr th:each="advertisement: ${advertisements}">
    <div id="container-div">
        <div id="left-div">
            <h2 class="adv-title">
                <td th:text="${advertisement.title}"/>
            </h2>
            <p class="adv-owner">
            <td th:text="${advertisement.appUserUsername}"/>
            </p>
            <p class="adv-date">
            <td th:text="${#dates.format(advertisement.created, 'dd.MM.yyyy HH:mm')}"/>
            </p>
        </div>
        <div id="right-div">
            <p>
            <td th:text="${advertisement.description}"/>
            </p>
        </div>
        <div id="bottom-div">
            <a class="button" th:href="@{/edit-advertisement/edit(advertisementId=${advertisement.id})}">edit</a>
            <a class="button" th:href="@{/my-advertisements/delete(advertisementId=${advertisement.id})}">delete</a>
        </div>
    </div>
    <br>
</tr>
</body>
<!--<footer>-->
<!--    <p><small>2023 • TL</small></p>-->
<!--</footer>-->
</html>