<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Family Advertisements</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet">
    <link th:href="@{/styles/login-and-register.css}" rel="stylesheet">
</head>
<body>
<h1>Create account</h1>
<div th:if="${param.error}">
    Something went wrong.
</div>
<br>
<form th:action="@{/register}" th:object="${appuser}" method="post">
    <div>
        <input type="text" th:field="*{username}" placeholder="username"/>
    </div>
    <br>
    <div>
        <input type="password" th:field="*{password}" placeholder="password"/>
    </div>
<!--    <br>-->
<!--    <div>-->
<!--        <input type="password" th:field="*{matchingPassword}" placeholder="confirm password"/>-->
<!--    </div>-->
    <br>
    <input type="submit" value="sign up"/>
</form>
<br><br>
<a th:href="@{/login}">sing in</a>
</body>
<footer>
    <p><small>2023 • TL</small></p>
</footer>
</html>
