<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Family Advertisements</title>
    <link th:href="@{/styles/global/main.css}" rel="stylesheet">
    <link th:href="@{/styles/global/center.css}" rel="stylesheet">
</head>
<body>
<h1>Create account</h1>
<div class="error" th:if="${param.error}">
    User already exists. Please pick another username.
</div>
<div class="success" th:if="${param.success}">
    User created! You can sign in.
</div>
<br>
<form th:action="@{/registration}" th:object="${appuser}" th:method="POST">
    <div>
        <input type="text" th:field="*{username}" placeholder="username" minlength="1" maxlength="10"/>
    </div>
    <br>
    <div>
        <input type="password" th:field="*{password}" placeholder="password" minlength="1"/>
    </div>
    <br>
    <input type="submit" value="sign up"/>
</form>
<br><br>
<a th:href="@{/authentication}">sing in</a>
</body>
</html>
