<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
      <title>Family Advertisements</title>
      <link th:href="@{/styles/global/main.css}" rel="stylesheet">
   </head>
   <body>
      <div class="top-bar text-align-center" th:fragment="top-bar">
         <a class="top-bar-font" href="https://github.com/tomasz-lipka/family-advertisements-app" target="_blank" rel="noopener noreferrer">link to this project on GitHub</a>
      </div>
   </body>
</html>
