<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Family Advertisements</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet">
    <link th:href="@{/styles/create.css}" rel="stylesheet">
    <link th:href="@{/styles/navigation.css}" rel="stylesheet">
</head>
<body>
<ul class="center">
    <li><a th:href="@{/thymeleaf/advertisements}">home</a></li>
    •
    <li><a th:href="@{/thymeleaf/advertisements/create}">create advertisement</a></li>
    •
    <li><a class="active" th:href="@{/thymeleaf/advertisements/my}">my advertisements</a></li>
    •
    <li><a th:href="@{/logout}">logout</a></li>
</ul>
<hr>
<h1>edit advertisement</h1>
<div th:if="${param.error}">
    Something went wrong.
</div>
<br>
<form th:action="@{/thymeleaf/advertisements/update}" th:object="${advertisement}" method="POST">
    <input type="hidden" th:field="*{id}"/>
    <div>
        <input class="input" type="text" th:field="*{title}"/>
    </div>
    <br>
    <textarea class="input" rows="6" cols="50" th:field="*{description}"/>
    <br><br>
    <input type="submit" value="update"/>
</form>
</body>
<!--<footer>-->
<!--    <p><small>2023 • TL</small></p>-->
<!--</footer>-->
</html>
