<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Family Advertisements</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet">
    <link th:href="@{/styles/center.css}" rel="stylesheet">
</head>
<body>
<h1>Family Advertisements</h1>
<p>Simple app to share advertisements with your family and friends</p>
<br>
<h3>User created!</h3>
<br><br>
<a class="button" th:href="@{/authentication}">sing in</a>
</body>
</html>

