<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Family Advertisements</title>
    <link th:href="@{/styles/global/main.css}" rel="stylesheet">
<!--    <link th:href="@{/styles/logged/advertisements/all.css}" rel="stylesheet">-->
    <link th:href="@{/styles/logged/advertisements.css}" rel="stylesheet">
    <link th:href="@{/styles/logged/navigation.css}" rel="stylesheet">
</head>
<body>
<ul class="text-align-center menu-bar">
    <li><a class="active" th:href="@{/advertisements/all}">home</a></li>
    <li><a th:href="@{/advertisements/creator}">create advertisement</a></li>
    <li><a th:href="@{/advertisements/my}">my advertisements</a></li>
    <li><a th:href="@{/logout}" th:text="'logout (' + ${#authentication.principal.username} + ')'"></a></li>
</ul>
<hr>
<br>
<h3 th:if="${#lists.isEmpty(advertisements)}">
    There are no advertisements.
</h3>
<tr th:each="advertisement: ${advertisements}">
    <div class="container-div">
        <div class="left-div">
            <h2 class="adv-title">
                <td th:text="${advertisement.title}"></td>
            </h2>
            <p class="adv-owner">
            <td th:text="${advertisement.ownerUsername}"></td>
            </p>
            <p class="adv-date">
            <td th:text="${#dates.format(advertisement.created, 'dd.MM.yyyy HH:mm')}"></td>
            </p>
        </div>
        <div class="right-div">
            <p>
            <td th:text="${advertisement.description}"></td>
            </p>
        </div>
    </div>
    <br>
</tr>
</body>
</html>