<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
      <title>Family Advertisements</title>
      <link th:href="@{/styles/global/main.css}" rel="stylesheet">
      <link th:href="@{/styles/logged/advertisements.css}" rel="stylesheet">
      <link th:href="@{/styles/logged/navigation.css}" rel="stylesheet">
   </head>
   <body>
      <ul class="text-align-center menu-bar">
         <li><a th:href="@{/advertisements/all}">home</a></li>
         <li><a th:href="@{/advertisements/creator}">create advertisement</a></li>
         <li><a class="active" th:href="@{/advertisements/my}">my advertisements</a></li>
         <li><a th:href="@{/logout}" th:text="'logout (' + ${#authentication.principal.username} + ')'"></a></li>
      </ul>
      <hr>
      <h1>my advertisements</h1>
      <p th:if="${#lists.isEmpty(advertisements)}">You have no advertisements.</p>
      <p class="message-core message-success" th:if="${param.created}">New advertisement created!</p>
      <p class="message-core message-success" th:if="${param.deleted}">Advertisement deleted!</p>
      <p class="message-core message-success" th:if="${param.updated}">Advertisement updated!</p>
      <tr th:each="advertisement: ${advertisements}">
         <div class="edit-container-div-height container-div-color">
            <div class="left-div">
               <h2 class="adv-title title-margin"><td th:text="${advertisement.title}"></td></h2>
               <p class="title-margin"><td th:text="${advertisement.ownerUsername}"></td></p>
               <p class="adv-date title-margin">
               <td th:text="${#dates.format(advertisement.created, 'dd.MM.yyyy HH:mm')}"></td>
               </p>
            </div>
            <div class="right-div">
               <p>
               <td th:text="${advertisement.description}"></td>
               </p>
            </div>
            <div class="bottom-div">
               <form th:action="@{/advertisements/{id}/editor(id = ${advertisement.id})}">
                  <input type="submit" value="edit"/>
               </form>
               <form th:action="@{/advertisements/{id}(id = ${advertisement.id})}" th:method="DELETE">
                  <input type="submit" value="delete"/>
               </form>
            </div>
         </div>
         <br>
      </tr>
   </body>
</html>
