.title-margin {
  margin-left: 20px;
}

.adv-title {
  color: #FF5733;
  line-height: 0.7;
}

.adv-date {
  font-size: 0.8em;
  color: gray;
}

.container-div-color {
  background-color: #172026;
}

.container-div-height {
  height: 150px;
}

.edit-container-div-height {
  height: 200px;
}

.left-div {
  float: left;
  width: 30%;
  height: 150px;
}

.right-div {
  float: right;
  width: 70%;
  height: 150px;
}

.bottom-div, .bottom-div form {
  float: right;
  height: 50px;
  margin-right: 10px;
}