.adv-title {
  color: #FF5733;
  line-height: 0.7em;
}

.adv-date {
  font-size: 0.8em;
  color: gray;
}

.flex-container {
  display: flex;
  height: 8em;
  background-color: #172026;
}

.outer-left-flex {
  display: flex;
  flex-grow: 1;
}

.outer-right-flex {
  padding: 1em;
}

.inner-left-flex {
   flex: 3;
   padding-left: 1em;
}

.inner-right-flex {
   flex: 7;
   padding-top: 1em;
   padding-right: 1em;
}

.text-overflow {
   height: 6em !important;
   overflow: auto;
}