.menu-bar li {
  display: inline;
}

a {
  padding: 1em;
  text-decoration: none;
  font-size: 1.4em;
  color: white;
}

a:hover {
  color: #FF5733;
}

.active {
  text-decoration: underline;
}

hr {
  border-color: #FF5733;
}

